html, body{
    width: 100%;
    height: 100%;
}
.parentDiv{
    background-color: black;
    height: 35%;
    width: 30%;
    margin-left: 10px;
    padding: 30px 100px 150px 100px;
}
img{
    height: 100%;
    width: 100%;
    border: 3px solid white;
}
.title{
    text-align: center;
    color: white;
}
.content{
    text-align: center;
    color: white;
}